[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
agent = "python agent.py"

[packages]
transformers = "*"
torch = "*"
fire = "*"
langchain = "*"
openai = "*"
google-search-results = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.16"
